{% extends "home/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% load crispy_forms_tags %}


{% block body %}

<body>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">

    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{ feed.image.url }}" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <a href="blog-single.html">{{ feed.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'user_profile' feed.author.id %}">{{ feed.author.name }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-tags"></i> <a href="blog-single.html">{{ feed.post_type }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ feed.description }}
                </p>
                <!-- <blockquote>
                  <p>
                    Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                  </p>
                </blockquote> -->
              </div>

              <!-- <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">Business</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div> -->

            </article><!-- End blog entry -->

            <div class="blog-comments">

              <h4 class="comments-count">{{ comment.count }} Comments</h4>
              {% for commen in comment %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div>
                    <h5><a href="{% url 'user_profile' commen.by_user.id %}">{{ commen.by_user.name }}</a> </h5>
                    <p>
                      {{ commen.text }}
                    </p>
                    {% if commen.by_user == request.user %}
                        <a href="{% url 'delete-comment' commen.id %}">[Delete]</a>
                    {% endif %}
                  </div>
                </div>
              </div><!-- End comment #1 -->
              {% endfor %}

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Required fields are marked * </p>
                        <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{form|crispy}}
                        <button class="btn btn-danger" type="submit" value="Reply">Reply</button>
                        </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->
        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
{% endblock body %}
