asgiref==3.5.0
Django==4.0.2
django-crispy-forms==1.14.0
django-phonenumber-field==6.1.0
django-phonenumbers==1.0.1
phonenumbers==8.12.44
Pillow==9.0.1
PyPDF2==1.26.0
sqlparse==0.4.2
tzdata==2021.5
