{% extends "home/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
<div class=" mb-5" style="margin-top: 100px;">
</div>

<section id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            {% for resource in resources %}
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box recommended">
                    <span class="recommended-badge">By: {{resource.owner}}</span><br>
                    <h3>{{resource.title}}</h3>
                    <iframe frameborder="0" scrolling="no"
                        width="90%" height="20%"
                        src="{{resource.preview.url}}">
                    </iframe>
                    <h3>Subject: {{resource.subject.subject_name}}</h3>
                    <h4>{{resource.cost}}  <i class="fas fa-coins"></i></h4>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                    <span><button class="btn btn-danger"><i class="fas fa-heart"></i></button></span><span style="font-size: 18px;"> 199</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

        {% endblock body %}
