{% extends "home/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Resource</li>
      </ol>
      <h2>All Resources</h2>

    </div>
  </section>

<section id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            <h2>Filters</h2>
            
            <form method="GET">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-danger" type="button">Year</button>
                </div>
                <input type="text" class="form-control" placeholder="Year" name="year" aria-label="" aria-describedby="basic-addon1">
              </div>
              
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="branch" placeholder="Branch" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button">Branch</button>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-danger" type="button">Subject Code</button>
                </div>
                <input type="text" class="form-control" name="subject" placeholder="Subject Code" aria-label="" aria-describedby="basic-addon1">
              </div>
              <button type="submit">Search</button>
              <button href="{% url 'all-resources' %}">Clear Search</button>
            </form>
              <h2>Resources</h2>
            {% for resource in resources %}
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box recommended">
                    <span class="recommended-badge"><a href="{% url 'user_profile' resource.owner.id %}">By: {{resource.owner.name}}</a></span>
                        <span class="recommended-badge" style="margin-top: 35px;">{{resource.owner.ratings}}/5</span><br>
                        <h3>{{resource.title}}</h3>
                    <iframe frameborder="0" scrolling="no"
                        width="90%" height="20%"
                        src="{{resource.preview.url}}">
                    </iframe>
                    <h3>{{resource.subject.subject_code}}: {{resource.subject.subject_name}}</h3>
                    <p>{{resource.description}}</p>
                    <h4>{{resource.cost}}  <i class="fas fa-coins"></i></h4>
                    <div class="btn-wrap">
                        <a href="{% url 'buy_resource' resource.id %}" class="btn-buy">Buy Now</a>
                    </div>

                    {% if request.user in resource.liked_by.all %}
                    <span><a class="btn btn-danger" href="{% url 'dislike_resource_1' resource.id %}"><i class="fas fa-heart"></i></a></span><span style="font-size: 18px;">  {{resource.liked_by.count}}</span>
                    {% else %}
                    <span><a class="btn btn-danger" href="{% url 'like_resource_1' resource.id %}"><i class="far fa-heart"></i></a></span><span style="font-size: 18px;">  {{resource.liked_by.count}}</span>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

        {% endblock body %}
