{% extends "home/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}


{% block body %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Resource</li>
      </ol>
      <h2>My Posted Resources</h2>

    </div>
  </section>

    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row">
                {% for resource in resources %}
                        
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box recommended">
                        
                <div class="recommended-badge"><a href="{% url 'user_profile' resource.owner.id %}">By: {{resource.owner.name}}</a></div><br>
                <div class="recommended-badge" style="margin-top: 35px;">{{resource.owner.ratings}}/5</div>
                        <!-- <span class="recommended-badge">By: {{resource.owner.name}}</span> -->
                        <h3>{{resource.title}}</h3>
                        <iframe frameborder="0" scrolling="no"
                            width="90%" height="20%"
                            src="{{resource.preview.url}}">
                        </iframe>
                        <!-- <embed type="application/pdf" src="{{resource.preview.url}}" width="300px" height="200px" /> -->
                        <h3>Subject: {{resource.subject.subject_name}}</h3>
                        <p>{{resource.description}}</p>
                        <h4>{{resource.cost}}  <i class="fas fa-coins"></i></h4>
                        <div class="btn-wrap">
                            <a href="{% url 'update_resource' resource.id %}" class="btn-buy">Update</a>
                            <a href="{% url 'delete_resource' resource.id %}" class="btn-buy">Delete</a>
                        </div>
                    {% if request.user in resource.liked_by.all %}
                    <span><a class="btn btn-danger" href="{% url 'dislike_resource_3' resource.id %}"><i class="fas fa-heart"></i></a></span><span style="font-size: 18px;">  {{resource.liked_by.count}}</span>
                    {% else %}
                    <span><a class="btn btn-danger" href="{% url 'like_resource_3' resource.id %}"><i class="far fa-heart"></i></a></span><span style="font-size: 18px;">  {{resource.liked_by.count}}</span>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock body %}  